* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    
    text-align: center;
    background-color:lightyellow;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: black;
  
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
    background-color: lightblue;
    color: black;
}

/* indicate active page on nav */
.active {
    background-color: lightblue;
}

/* A - Create three unequal columns that floats next to each other */
.column {
    float: left;
   
    
}



/* Main Content */
.main.content {
    text-align:center;
}
h1{
  font:verdana;
  color:dodgerblue;
  width:300px;
  padding:10px;
  border:5px solid dodgerblue;
  margin:auto;
  
}




